.container{
width:100%;
min-height:100vh;
background-image:linear-gradient(rgba(9,0,77,0.65),rgba(9,0,77,0.65)),url(D:\Wedding Planning\WhatsApp Image 2024-03-09 at 14.04.47_d40f127a.png);
background-size:cover;
background-position:center;
padding:10px 8%;

}